.nav {
  height: 5vh;
  top: 2px;
}
.navbar-container {
  width: 80vw;
  margin-left: 10vw;
}
.nav-ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
}

.nav-link:first-of-type {
  font-weight: bold;
  flex: 3;
}

.nav-add-button:hover {
  color: white;
}

.nav-add-button button {
  border: 1px solid #0085ff;
  background: transparent;
  border-radius: 6px;
  &:hover {
    background: #0085ff;
    color: #fff;
    font-weight: bold;
  }
}

.nav-add-button button a:hover {
  font-weight: bold;
  color: white;
  text-decoration: none;
}
